---
import CustomTitle from "../components/CustomTitle.astro";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title='About Page'>
  <h1>About</h1>
  <CustomTitle title='Mario'/>

</MainLayout>

  <style>
	h1{
		color: red;
	}
  </style>